<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="photoUrl">
      <h2 data-cy="photoUrlDetailsHeading"><span>Photo Url</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ photoUrl.id }}</span>
        </dd>
        <dt><span>Url</span></dt>
        <dd>
          <span>{{ photoUrl.url }}</span>
        </dd>
        <dt><span>Pet</span></dt>
        <dd>
          <div *ngIf="photoUrl.pet">
            <a [routerLink]="['/pet', photoUrl.pet?.id, 'view']">{{ photoUrl.pet?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/photo-url', photoUrl.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
